@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "h h"
    "c c"
    ;
}

header{
    grid-area: h;
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header > a > img{
    width: 300px
}

body{
    height: 100vh;
    background-color: maroon;
}

main{
    background-color: maroon;
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
}
.cadmodal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }

 .cards {
    width: 100vw;
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin-top: 30px;
    font-size: 20px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    height: 70px;
}

main > a{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    width: 170px;
    height: 50px;
    margin-bottom: 30px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: crimson;
    
}

input > .foto {
    width: 10%;
    height: 10%;
}


button {
    width: 200px;
    height: 50px;
    background-color: brown;
    color: whitesmoke;
}

.nome {
    text-align: center;
    font-size: 25px;
}
.descricao {
    text-align: center;
    font-size: 15px;
    color: rgb(175, 140, 140);
}
@media (max-width: 800px) {
    .container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto ;
        grid-template-areas:
        "h"
        "c"
        ;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    .cards{
        flex-direction: column;
    }

    .card{
        flex-direction: column;
    }

}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
  }
  .card img{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 300px;
    height: 200px;
}
.cards img:hover{
    opacity: 0.7;
}
.cardinfo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

.cardnome {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(253, 38, 124);
    text-align: center;
    margin-top: -5px;
    padding: 20px;
}

.cardnome p{
  font-size: 1rem;
  font-weight: normal;
}

.btn{
  display:block;
}

.btneditar{
  display: block;
}